.courses-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.heading{
    color: white;
    padding-bottom: 5px;
	border-bottom: 2px solid rgb(255, 83, 255);
}
.course-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}